
.KataDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border: 5px solid black;
    padding: 10px;
}

.greyBlock19{
    height:20px;
    width:100px;
    background-color:grey;
    margin:5px;
}

.greyBlock20{
    height: 20px;
    background-color: grey;
    margin:5px;
}
.greyBlock21{
    height:20px;
    background-color:grey;
    margin:5px;
}

.greyBlock22 {
    height: 20px;
    background-color: grey;
    margin: 5px;
  }
  
  .greyBlock22:nth-child(odd) {
    height: 20px;
    background-color: red;
    margin: 5px;
  }
  
  .greyBlock23 {
    height: 20px;
    background-color: grey;
    margin: 5px;
  }